<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <title>@RenderSection("pageTitle", required: false) - ASP.NET Core 6 Demo</title>

    <meta charset="utf-8" />
    <meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue, Asp.Net Core, Blazor, Django, Flask &amp; Laravel versions. Grab your copy now and get life-time updates for free." />
    <meta name="keywords" content="Metronic, Bootstrap, Bootstrap 5, Angular, VueJs, React, Asp.Net Core, Blazor, Django, Flask &amp; Laravel, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular, Asp.Net Core, Blazor, Django, Flask &amp; Laravel Admin Dashboard Theme" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="Keenthemes | Metronic" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Vendor Stylesheets(used by this page)-->
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <!-- Plugins JS in Header -->
    <script src="~/plugins/modernizr-2.8.3/modernizr-2.8.3.js"></script>

    <!-- Custom CSS -->
    <link href="~/Site.css" rel="stylesheet" />
    <link href="~/css/global-utility.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    @RenderSection("styles", required: false)
</head>
<!--end::Head-->
<body data-kt-name="metronic" id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <!--begin::Theme mode setup on page load-->
    <script>if (document.documentElement) { const defaultThemeMode = "system"; const name = document.body.getAttribute("data-kt-name"); let themeMode = localStorage.getItem("kt_" + (name !== null ? name + "_" : "") + "theme_mode_value"); if (themeMode === null) { if (defaultThemeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } else { themeMode = defaultThemeMode; } } document.documentElement.setAttribute("data-theme", themeMode); }</script>
    <!--end::Theme mode setup on page load-->
    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <partial name="_Header" />
            <!--begin::Wrapper-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <partial name="_Sidebar" />
                <!--begin::Main-->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">
                        <main role="main">
                            <h1>@RenderSection("pageHeader", required: false)</h1>
                            @RenderBody()
                        </main>

                    </div>
                    <!--end::Content wrapper-->
                    <partial name="_Footer" />

                </div>
                <!--end:::Main-->
            </div>
            <!--end::Wrapper-->
        </div>
    </div>

    <!--begin::Javascript-->
    <script>var hostUrl = "~/assets/";</script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Vendors Javascript(used by this page)-->
    <script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/custom/apps/ecommerce/reports/customer-orders/customer-orders.js"></script>
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used by this page)-->
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
    <script src="~/assets/js/custom/apps/chat/chat.js"></script>
    <script src="~/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
    <script src="~/assets/js/custom/utilities/modals/create-app.js"></script>
    <script src="~/assets/js/custom/utilities/modals/new-target.js"></script>
    <script src="~/assets/js/custom/utilities/modals/users-search.js"></script>

    <!--end::Custom Javascript-->
    <!-- Plugins JS -->
    <script src="~/plugins/jquery-3.7.0/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/plugins/moment-2.29.4/moment.min.js"></script>
    <script src="~/plugins/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/plugins/jquery-validate-1.19.5/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery.validate.unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/plugins/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/jquery-blockUI-2.70.0/jquery.blockUI.js"></script>
    @*<script src="~/plugins/bootbox-4.3.0/js/bootbox.min.js"></script>*@
    <script src="~/plugins/bootbox-6.0.0/js/bootbox.min.js"></script>
    <script src="~/plugins/tostr-2.1.1/js/toastr.min.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>

    <script src="~/plugins/DataTables/DataTables-1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/DataTables/DataTables-1.13.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/plugins/DataTables/JSZip-3.10.1/jszip.min.js"></script>
    <script src="~/plugins/DataTables/pdfmake-0.2.7/pdfmake.min.js"></script>
    <script src="~/plugins/DataTables/pdfmake-0.2.7/vfs_fonts.js"></script>
    <script src="~/plugins/DataTables/Buttons-2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/DataTables/Buttons-2.4.1/js/buttons.bootstrap5.min.js"></script>
    <script src="~/plugins/DataTables/Buttons-2.4.1/js/buttons.colVis.min.js"></script>
    <script src="~/plugins/DataTables/Buttons-2.4.1/js/buttons.html5.min.js"></script>
    <script src="~/plugins/DataTables/Buttons-2.4.1/js/buttons.print.min.js"></script>
    @*<script src="~/plugins/DataTables/FixedHeader-3.4.0/js/dataTables.fixedHeader.min.js"></script>*@

    <!-- Custom JS -->
    <script src="~/js/CommonJsFunctions.js"></script>
    <script src="~/js/CommonValidation.js"></script>
    <script src="~/js/FillCombobox.js"></script>
    <script src="~/js/UI_AjaxModal.js"></script>
    <script src="~/js/UI_TableCheckboxSelectAll.js"></script>

    <script src="~/js/UI_Bootbox.js"></script>
    <script src="~/js/UI_Select2.js"></script>
    <script src="~/js/UI_DateTime_Picker.js"></script>
    <script src="~/js/UI_BlockUI.js"></script>

    <script src="~/js/InitMain.js"></script>
    <script>
        function OnFailure(xhr, status, error) {
            //console.log(xhr);
            bootbox.alert(xhr.responseText);
        }
        function checkIfModalOpen() {
            var modelplaceholderLength = $('#modal-placeholder').html().length;
            if (modelplaceholderLength > 0) {
                $("body").addClass("modal-open");
            } else {
                $("body").removeClass("modal-open");
            }
        }
    </script>
    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>



    <!--end::Javascript-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
